body {
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
}
p {
  margin: 0;
}
.navbar {
  font-family: "Ubuntu", sans-serif;
  width: 76%;
  margin: auto;
  padding-top: 0;
}
.navbar-brand img {
  height: 122px;
  width: 136px;
}

.form-inline .form-control {
  width: 720px;
  padding: 8px 9px;
  border: 0;
  height: 51px;
  border-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.form-inline {
  /* border: 1px solid #ced4da; */
  border-radius: 8px;
}

.form-inline i {
  padding: 6px 10px;
}

span i {
  font-size: 18px;
  padding: 7px 1rem;
}
.form-inline img {
  height: 32px;
  vertical-align: text-bottom;
}

.form-inline span {
  font-size: 10px;
  padding: 3px 12px;
  background-color: #ced4da;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid #ced4da;
  height: 51px;
}

.form-inline .loc {
  font-size: 18px;
  float: right;
  /* padding: 0 7px; */
}

.form-inline p {
  margin-left: 15px;
}

.form-inline .loc_icon {
  display: inline-block;
  padding: 2px 6px;
  font-size: 18px;
  color: gray;
}
.form-inline span img {
  height: 14px;
}

.nav-link .fa-user {
  margin-left: 10px;
  color: #fff;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 24px;
  background: #ced4;
  font-size: 23px;
  margin-right: 12px;
}

.form-inline .btn {
  border: 0;
  height: 51px;
  border-right: 1px solid #ced4da;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.nav-item .nav-link h6 {
  font-size: 17px;
  display: inline-block;
  font-style: normal;
  letter-spacing: normal;
  color: #ffffff;
}

/* 
-------- 2nd column--------
*/

.next-header {
  background-color: #32aeb1;
  height: 60px;
}

.next-header a {
  color: #fff;
}

.next-header a:hover {
  text-decoration: none;
}

.row .col-md-3 {
  height: 46px;
  display: inline-block;
  padding: 5px 0 0;
}

.row .col-md-3 img {
  width: 50px;
}

.row .col-md-3 p {
  display: inline;
}



.row .col-md-3 .m-pro1 {
  background-size: 40px;
  padding-left: 48px !important;
  cursor: pointer;
  font-size: 22px;
  padding-top: 4px !important;
}


.row .col-md-3 .m-pro2 {
  background-size: 53px;
  padding-left: 48px !important;
  cursor: pointer;
  font-size: 22px;
  padding-top: 8px !important;
}



.row .col-md-3 .m-pro3 {
  background-size: 53px;
  padding-left: 48px !important;
  cursor: pointer;
  font-size: 22px;
  padding-top: 4px !important;
}

.row .col-md-3 .m-pro4 {
  background-size: 42px;
  padding-left: 48px !important;
  cursor: pointer;
  font-size: 22px;
  padding-top: 4px !important;
}




.next-header .col-md-3 a:hover{
color: #333;

}
.next-header .col-md-3 i{
  margin-right: 14px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .form-inline span {
    display: none;
  }
  /* .user_li { */
  /* display: none; */
  /* } */

  .user_li {
    position: fixed;
    top: 18px;
    right: 130px;
  }

  .next-header {
    display: none;
  }

  .form-inline .form-control {
    width: 530px;
  }
  .nav {
    display: block;
  }
}

/* 
 ------------- media query ----------
*/

@media only screen and (max-width: 650px) {
  .next-header {
    display: none;
  }

  .navbar {
    width: 96%;
    padding: 0;
    margin: 0;
    height: 122px;
  }
  .navbar-nav {
    width: inherit;
    margin: auto;
  }

  .navbar-brand img {
    height: 43px;
    width: 120px;
  }
  .form-inline span {
    display: none;
  }
  .form-inline .form-control {
    height: 30px;
    padding: 17px 12px;
    width: 86%;
    font-size: 13px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .user_li {
    position: fixed;
    top: 10px;
    right: 130px;
  }
  .login_icon{
    position: fixed;
  top: 9px;
  right: 20px;
  }
  .user_li i{
    font-size: 20px;
  }

  h6{
    color: #fff;
    font-size: 15px !important;
  }
  /* .user_li  .nav-link{ */
    /* font-size: 1px; */
  /* } */

  .btn img {
    height: 19px;
    vertical-align: baseline;
  }

  .form-inline .btn {
    height: 34px;
    width: 42px;
  }
 
 .user_li .far{
font-size: 16px;
 }
 
}
/* 
------ mobile navbar --------
*/

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  background-color: #fff;
  box-shadow: 0 0 3px rgb(0, 0, 0, 0.2);
  display: flex;
  overflow-x: auto;
}

.nav__link {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-width: 50px;
  flex-grow: 1;
  white-space: nowrap;
  justify-content: center;
  overflow: hidden;
  font-size: 16px;
  color: #444444;
}

.nav__link i {
  font-size: 18px;
  padding: 3px;
}
 
.user_li .far{
  font-size: 16px;
}
.login_icon{
  color: #fff;
  margin-top: 9px;
  font-family: sans-serif;

}
.login_icon:hover{
  color: #333;
}


a:hover {
  text-decoration: none;
}

.nav__link img {
  width: 19px;
  padding-bottom: 3px;
  margin: auto;
  margin-bottom: 0;
  margin-top: 0px;
}

.nav__link:hover {
  background-color: #eeeeee;
}
.active {
  color: #009578;
}

@media only screen and (min-width: 1525px) {
  .nav {
    display: none;
  }
}

/* 

----------- footer ---------------------
*/

.footer {
  padding: 3% 8%;
  position: fixed;
  bottom: 0;
  background: #000000;
  height: 336px;
  color: #ffff;
}

.footer .row .column {
  text-align: left;
  padding: 12px;
}

.footer form {
  margin-top: 14px;
}
.footer form input {
  padding: 8px 12px;
  background: #1a1c20;
  border: 0;
  border-radius: 3px;
}

.footer .btn {
  padding: 7px 13px;
  border-radius: 0;
  background: #2bb3c0;
  color: #000;
  display: inline-block;
  position: fixed;
}
.footer .btn i {
  font-size: 22px;
}
.footer .column .row {
  width: 72%;
  padding: 6px 2px;
}

.footer .column .row img {
  width: 63px;
  height: 53px;
}

.footer .icons {
  padding: 6px 12px;
}
.footer .column .icons i {
  margin-right: 10px;
  cursor: pointer;
  color: #fff;
}

.footer p {
  color: #3f3f44;
  font-weight: 500;
  font-family: "Ubuntu";
}

.footer .copy_right {
  position: fixed;
  bottom: 0;
  width: 84%;
  font-size: 20px;
  font-family: "Ubuntu";
  padding: 12px 16px;
  color: #3f3f44;
}

.footer .copy_right span {
  color: #fff;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    display: none;
  }
  
  
  
}
