body {
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
}
p {
  margin: 0;
}
header{
  background-color: #32aeb1;
}
.navbar {
  font-family: "Ubuntu", sans-serif;
  width: 77%;
  margin: auto;
  padding-top: 0;
}
.navbar-brand img {
  height: 122px;
  width: 136px;
}

.form-inline .form-control {
  width: 720px;
  padding: 8px 9px;
  border: 0;
  height: 51px;
  border-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.form-inline {
  /* border: 1px solid #ced4da; */
  border-radius: 8px;
}

.form-inline i {
  padding: 6px 10px;
}

span i {
  font-size: 18px;
  padding: 7px 1rem;
}
.form-inline img {
  height: 32px;
  vertical-align: text-bottom;
}

.form-inline span {
  font-size: 10px;
  padding: 3px 12px;
  background-color: #ced4da;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid #ced4da;
  height: 51px;
}

.form-inline .loc {
  font-size: 18px;
  float: right;
  /* padding: 0 7px; */
}

.form-inline p {
  margin-left: 15px;
}

.form-inline .loc_icon {
  display: inline-block;
  padding: 2px 6px;
  font-size: 18px;
  color: gray;
}
.form-inline span img {
  height: 14px;
}

.nav-link .fa-user {
  margin-left: 10px;
  color: #fff;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 24px;
  background: #ced4;
  font-size: 23px;
  margin-right: 12px;
}

.form-inline .btn {
  border: 0;
  height: 51px;
  border-right: 1px solid #ced4da;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.nav-item .nav-link h6 {
  font-size: 17px;
  display: inline-block;
  font-style: normal;
  letter-spacing: normal;
  color: #ffffff;
}

/* 
-------- 2nd column--------
*/

.next-header {
  background-color: #32aeb1;
  height: 60px;
}
.next-header .row{
  width: 74%;margin: auto;
}

.next-header a {
  color: #fff;
}

.next-header a:hover {
  text-decoration: none;
}

.row .col-md-3 {
  /* height: 46px; */
  display: inline-block;
  padding: 5px 0 0;
}

.row .col-md-3 img {
  width: 50px;
}

.row .col-md-3 p {
  display: inline;
}

.row .col-md-3 .m-pro1 {
  background-size: 40px;
  padding-left: 48px !important;
  cursor: pointer;
  font-size: 22px;
  padding-top: 4px !important;
}

.row .col-md-3 .m-pro2 {
  background-size: 53px;
  padding-left: 48px !important;
  cursor: pointer;
  font-size: 22px;
  padding-top: 8px !important;
}

.row .col-md-3 .m-pro3 {
  background-size: 53px;
  padding-left: 48px !important;
  cursor: pointer;
  font-size: 22px;
  padding-top: 4px !important;
}

.row .col-md-3 .m-pro4 {
  background-size: 42px;
  padding-left: 48px !important;
  cursor: pointer;
  font-size: 22px;
  padding-top: 4px !important;
}

.next-header .col-md-3 a:hover {
  color: #333;
}
.next-header .col-md-3 i {
  margin-right: 14px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .form-inline span {
    display: none;
  }
  /* .user_li { */
  /* display: none; */
  /* } */

  .user_li {
    position: fixed;
    top: 42px;
    right: 136px;
  }

  .next-header {
    display: none;
  }

  .form-inline .form-control {
    width: 494px;
  }
  .nav {
    display: block;
  }

  .login_icon {
    position: fixed;
    top: 38px;
    right: 27px;
  }
}

/* 
 ------------- media query for mobile ----------
*/

@media only screen and (max-width: 650px) {
  .next-header {
    display: none;
  }

  .navbar {
    width: 96%;
    padding: 0;
    margin: 0;
    height: 122px;
  }
  .navbar-nav {
    width: inherit;
    margin: auto;
  }

  .navbar-brand img {
    height: 43px;
    width: 120px;
  }
  .form-inline span {
    display: none;
  }
  .form-inline .form-control {
    height: 30px;
    padding: 17px 12px;
    width: 86%;
    font-size: 13px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .user_li {
    position: absolute;
    top: 10px;
    right: 108px;
  }
  .login_icon {
    position: absolute;
    top: 9px;
    right: 3px;
  }
  .user_li i {
    font-size: 20px;
  }

  h6 {
    color: #fff;
    font-size: 15px !important;
  }
  /* .user_li  .nav-link{ */
  /* font-size: 1px; */
  /* } */

  .btn img {
    height: 19px;
    vertical-align: baseline;
  }

  .form-inline .btn {
    height: 34px;
    width: 42px;
  }

  .user_li .far {
    font-size: 16px;
    position: absolute;
    right: 7px;
  }
}
/* 
------ mobile navbar --------
*/

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  background-color: #fff;
  box-shadow: 0 0 3px rgb(0, 0, 0, 0.2);
  display: flex;
  overflow-x: auto;
}

.nav__link {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-width: 50px;
  flex-grow: 1;
  white-space: nowrap;
  justify-content: center;
  overflow: hidden;
  font-size: 16px;
  color: #444444;
}

.nav__link i {
  font-size: 18px;
  padding: 3px;
}

.user_li .far {
  font-size: 16px;
}
.login_icon {
  color: #fff;
  margin-top: 9px;
  font-family: sans-serif;
}
.login_icon:hover {
  color: #333;
}

a:hover {
  text-decoration: none;
}

.nav__link img {
  width: 19px;
  padding-bottom: 3px;
  margin: auto;
  margin-bottom: 0;
  margin-top: 0px;
}

.nav__link:hover {
  background-color: #eeeeee;
}
.active {
  color: #009578;
}

@media only screen and (min-width: 1525px) {
  .nav {
    display: none;
  }
}

/* 

----------- footer ---------------------
*/

.footer {
  padding: 3% 8%;
  bottom: 0;
  background: #000000;
  color: #ffff;
}

.footer .row .column {
  text-align: left;
  padding: 12px;
}

.footer form {
  margin-top: 14px;
  position: relative;
}
.footer form input {
  padding: 8px 12px;
  background: #1a1c20;
  border: 0;
  border-radius: 3px;
}

.footer .btn {
  padding: 7px 13px;
  border-radius: 0;
  background: #2bb3c0;
  color: #000;
  position: absolute;
}
.footer .btn i {
  font-size: 22px;
}
.footer .column .row {
  width: 72%;
  padding: 6px 2px;
}

.footer .column .row img {
  width: 63px;
  height: 53px;
}

.footer .icons {
  padding: 6px 12px;
}
.footer .column .icons i {
  margin-right: 10px;
  cursor: pointer;
  color: #fff;
}

.footer p {
  color: #3f3f44;
  font-weight: 500;
  font-family: "Ubuntu";
}

.footer .copy_right {
  width: 96%;
  font-size: 20px;
  font-family: "Ubuntu";
  padding: 44px 16px;
  color: #3f3f44;
}

.footer .copy_right span {
  color: #fff;
}


/* 
------------------------  product page-------------------------------------
*/


.productContainer{
  text-align: left;
}

.carousel-control-next i,.carousel-control-prev i{
  color: #333;
}
.productContainer .profile img{
  width: 50px;
}
.productContainer .btn{
  text-transform: uppercase;
  padding: 12px 24px;
}
.productContainer .review_icons{
  padding: 8px 15px;
}
.productContainer .review_icons i{
  font-size: 21px;
  cursor: pointer;
  margin-right: 12px;
}
.productContainer .review_icons .fa-cart-plus{
  float: right;
}

.secondColumn{
  text-align: center;
  text-align: center;
    padding: 6px 0;
    margin-top: 42px;
}
.productTitle{
  padding: 16px 0;
}
.list-group-item .btn{
  background: #32aeb1;
  color: #f1f1f1;
}
.list-group-item #colId{
  margin-top: 10px;
}



.rating i{
padding:8px 6px;
color: gold;
}
.size select{
  padding: 3px 11px;
    margin-left: 20px;
}
.color select{
  padding: 3px 11px ;
  margin-left: 9px;
}

.rating ,.size,.color{
  padding: 10px 0;
}
.col-md-2 .price{
    /* border: 2px solid darkgray; */
    margin-top: 36px;
}
.status ,.qty,.col-md-2 .price{
  padding: 9px 7px;
}
.status p{
  display: inline;
    margin-left: 8px;
}
.qty select{
  padding: 3px 11px;
margin-left: 28px;
}
.col-md-2 .btn{
  background: #32aeb1;
  color: #fff;
  padding: 12px 24px;
}



.productDetails{
  text-align: left;
}
.productDetails ul{
  list-style-type: none;
  padding: 0;
}
.productDetails ul li{
  padding: 6px 0;
}
hr{
  width: 76%;
    box-shadow: 0px 1px 3px 0px #3334;
}


/* 
 --------- card --------------
*/




.cardTitle .card{
  width: 11rem;
border: 0;
text-align: center;
display: inline-block;
color: #333;
transition: all 0.5s ease-in-out 0s;
}
.cardTitle .card:hover{
  transform: translateY(-20px);
}



.cardTitle .card img{
  width: 174px;

}
/* .cardTitle .card img:hover{ */
  /* transform: scale(1.2) rotateY(-5deg); */
/* } */

.cardTitle .card-body{
  padding:12px 8px;
}



/* 

------------- similar to items section -----------------------
*/

.relatedProducts ,.moreItems {
  padding: 24px 0;
  padding-bottom: 150px;
}
.relatedProducts h2,.moreItems  h2{
  padding: 24px;
}

.relatedProducts .carousel-control-next,.relatedProducts .carousel-control-prev,.moreItems .carousel-control-next,
.moreItems .carousel-control-prev{
  background: #32aeb1;
  width: 43px;
  height: 60px;
  margin: auto;
  border-radius: 8px;
}

.giveRating{
  padding: 6% 15%;
  background: #eee;
}
.giveRating h5{
  padding: 12px;
}

/* #ratingForm input[type="checkbox"] { */
  /* width: 1.3em; */
  /* height: 1.3em; */
  /* background-color:#fff; */
  /* border-radius: 50%; */
  /* vertical-align: middle; */
  /* border: 1px solid #333; */
  /* -webkit-appearance: none; */
  /* margin-right: 22px; */
  /* outline: none; */
  /* cursor: pointer; */
/* } */





#ratingForm label{
  font-size: 12px;
    margin-right: 6px;
}
#ratingForm .labelDiv{
  width: 98%;
}

.star {
  visibility:hidden;
  font-size:30px;
  cursor:pointer;
  margin-right: 28px;
}
.star:before {
 content: "\2606";
 position: absolute;
 visibility:visible;
}
.star:checked:before {
 content: "\2605";
 position: absolute;
 color: gold;
}








/* 
----------------------------  media queries ------------------------

*/
@media (min-width: 768px) and (max-width: 1024px) {
  .footer {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    display: none;
  }
}

/* 
--- media query for ipadpro
*/

@media (min-width: 768px) and (max-width: 1366px) {
  .form-inline .form-control {
    width: 471px;
  }
  #ratingForm .labelDiv{
    width: 95%;
  }
  
  .relatedProducts .carousel,.moreItems .carousel{
    overflow: scroll;
  }
  .relatedProducts .carousel::-webkit-scrollbar,.moreItems .carousel::-webkit-scrollbar{
    display: none;
  }

  .relatedProducts .carousel-inner,.moreItems .carousel-inner{

    float: left;
    width: 1451px;
    height: 232px;
  }
  .carousel-control-next,.carousel-control-prev{
    display: none;
  }


}

/* 
 ------------------- media query for iphone5
*/
@media (min-width: 320px) and (max-width: 568px) {
  .form-inline .form-control {
    width: 81%;
  }

  .relatedProducts h2, .moreItems h2{
    font-size: 21px;
  }

  .relatedProducts .carousel,.moreItems .carousel{
    overflow: scroll;
  }
  .relatedProducts .carousel::-webkit-scrollbar,.moreItems .carousel::-webkit-scrollbar{
    display: none;
  }

  .relatedProducts .carousel-inner,.moreItems .carousel-inner{

    float: left;
    width: 1451px;
    height: 232px;
  }
  .relatedProducts .carousel-control-next, .relatedProducts .carousel-control-prev{
    display: none;
  }
  .moreItems .carousel-control-next,.moreItems .carousel-control-prev{
    display: none;
  }

  
  #ratingForm .labelDiv{
    width: 94%;
  }
  #ratingForm label{
  margin-right: 3px;
  }
  .star{
    margin-right: 22px;
    font-size: 25px;
  }

  .relatedProducts {
    padding-bottom: 28px;
  }

  
  
  
  


}
